
.bookContainer {
    display: flex;
    gap: 10px;
    padding: 5px;
    align-content: flex-start;
}

.booksInfoTitle {
    font-size: 1.4em;
}

.booksInfoTitleAuthor {
    flex: 3
}

.booksInfoBlurb {
    font-size: 0.8em;
    margin-top: 5px;
    flex: 14
}

.cancelCross {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.cancelCross:hover {
    background-color: var(--theme-light-light-grey);
}