.container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    width: 100%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.headerBodySeparator {
    display: flex;
}

.scoreContainer {
    margin-left: auto;
    display: flex;
    gap: 40px
}

.scoreWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayScore {
    font-size: 3em;
    font-family: var(--font-header)
}

.bodyWrapper {
    margin-top: 20px;
}

.moreInfoWrapper {
    margin-top: auto;
}

.moreInfoButton {
    float: right;
    padding: 8px 10px;
    background-color: var(--theme-purple);
    font-size: 1.3em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moreInfoText {
    margin-top: 3px;
    margin-right: 4px;
}