.container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    width: 100%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.headerBodySeparator {
    display: flex;
}

.image {
    object-fit: contain;
    box-shadow: var(--shadow-button-color);
}

.bookTitle {
    color: black;
}

.bookTitle:hover {
    text-decoration: underline;
}

.scoreContainer {
    margin-left: auto;
    display: flex;
    gap: 40px
}

.scoreWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayScore {
    font-size: 3em;
    font-family: var(--font-header)
}

.bodyWrapper {
    margin-top: 20px;
    height: 100px;
    overflow: auto;
    padding-right: 10px;
}

.moreInfoWrapper {
    display: flex;
    margin-top: auto;
    margin-left: auto;
    gap: 10px;
}

.moreInfoWrapper a {
    padding: 8px 10px;
    background-color: var(--theme-purple);
    font-size: 1.3em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moreInfoButton:hover {
    background-color: var(--theme-blue);
}

.moreInfoText {
    margin-top: 3px;
    margin-right: 4px;
}