.container {
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 0
}

.textWithProfile {
    flex: 1;
    display: flex;
    width: 100%;
    overflow: hidden;
}


.textInputContainer {
    position: relative;
    margin-left: 10px;
    flex: 1;
    width: 90%;
    overflow: hidden;
}

.newMessageInput {
    width: 100%;
    resize:none;
    font-family: var(--font-mono);
    font-size: large;
    border: none;
    overflow:hidden;
    min-height: 70px;
    overflow-wrap: break-word;
}

.newMessageInput:focus {
    outline-width: 0;
}

.placeholder {
    color: var(--theme-light-grey);
    position: absolute;
    pointer-events: none;
    top: 0
}

.extraInfoContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.booksContainer {
    background-color: var(--theme-light-blue);
    border-radius: 5px;
    margin: 5px 0;
    overflow: hidden;
}

.wordCount {
    margin-left: auto;
}

.sendToolbar {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.toolbarButton {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 1.7em;
    color: var(--theme-purple);
    font-family: var(--font-mono);
    line-height: 30px;
}

.toolbarButton:hover {
    color: var(--theme-purple);
    background-color: var(--theme-light-purple);
}

.toolbarSendButton {
    margin-left: auto;
    padding: 10px 20px;
    background-color: var(--theme-purple);
    color: black
}

.toolbarButtonCant {
    background-color: var(--theme-light-light-grey);
}

.toolbarButtonCant:hover {
    background-color: var(--theme-light-light-grey);
}