.container {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.titles {
    flex:3
}

.title {
    font-size: 1.7em;
}

.headerBodySeparator {
    display: flex;
}

.description {
    flex: 7
}