.container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    width: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titles {
    width: 100%;
}

.headerBodySeparator {
    display: flex;
}

.bodyWrapper {
    margin-top: 20px;
}

.moreButton {
    font-size: 0.5em;
}