.container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow-button-color);
    overflow: scroll;
    width: max-content;
    z-index: 3;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    width: 100%;
}

.button:hover {
    background-color: var(--theme-light-purple);
    color: black;
}