
.bookContainer {
    display: flex;
    gap: 10px;
    padding: 5px;
    align-content: flex-start;
    height: 90px;
    overflow: hidden;
}

.booksInfoTitle {
    font-size: 1.4em;
    color: black;
}

.booksInfoTitle:hover {
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
}

.booksInfoTitleAuthor {
    flex: 3
}

.booksInfoBlurb {
    font-size: 0.8em;
    margin-top: 5px;
    flex: 8;
    height: 90%;
    overflow: auto;
}

.cancelCross {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.cancelCross:hover {
    background-color: var(--theme-light-light-grey);
}