.container {
    position: relative;
    margin-left: auto;
    font-size: 1em;
}

.button {
    font-family: var(--font-header);
    font-weight: 700;
    min-width: 100px;
    text-align: right;
    background-color: var(--theme-input-light-grey);
}