.container {
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}