.container {
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dotsButton {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.dotsButton:hover {
    background-color: var(--theme-purple);
}