.container {
    position: absolute;
    left: 0;
    background-color: white;
    display: flex;
    gap: 10px;
    width: max-content;
    box-shadow: var(--shadow-button-color);
    border-radius: 5px;
    padding: 5px;
    z-index: 7;
    bottom: 60px;
}

.name {
    font-size: 1.4em;
    text-decoration: underline;
}

.admin {
  padding: 2px 5px;
  border-radius: 3px;
  background-color: var(--theme-green);
  margin-left: 10px;
}

.topContainer {
  display: flex;
  align-items: center;
}