.container {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.container:hover {
    background-color: var(--theme-light-blue);
}