

.dragDrop input[type="file"] {
  display: none;
}

.dragDrop {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--theme-light-blue);
    outline: var(--theme-blue) dashed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dragDropLabel {
    text-align: center;
}

.dragImage {
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    line-height: 0;
}