.searchBar {
    background-color: var(--theme-input-light-grey);
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    border-radius: 5px;
}

.searchInput {
    font-size: 1.2em;
    background-color: transparent;
    border: none;
    flex: 1;
    outline-width: 0;
}