.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.scores {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 3
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.myScore {
    text-align: right;
    width: 80px;
    outline-width: 0;
    border: 0;
}

.scoreRating {
    font-size: 2em;
    font-family: var(--font-header);
    margin-left: auto;
    font-weight: 700;
    position: relative;
    min-width: 100px;
    text-align: right;
}

.pageNumber {
    font-size: 1em;
    font-family: var(--font-header);
    font-weight: 700;
    outline-width: 0;
    border: 0;
}

.inputType {
    background-color: var(--theme-input-light-grey);
}

.totalPages {
    color: var(--theme-light-grey)
}

.submitButtonWrapper {
    flex: 1
}

.submitButton {
    float: right;
    padding: 10px 20px;
    background-color: var(--theme-light-light-grey);
    margin-top: 20px;
}