.container {
    padding-bottom: 8vw;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

.left {
    flex: 1;
}

.right {
    flex: 4
}

.leftBody img {
    width: 100%;
    height: auto;
}

.rightBody {
    flex: 4;
    display: flex;
    min-height: calc();
}

.bottomLeftBody {
    flex: 1
}

.bottomRightBody {
    flex: 4
}

.blurbParagraph {
    font-size: 1em;
}